@use "./../../shared/colors" as colors;

.services {
  padding: 1rem 0.5rem;
  background-color: colors.$normal-white;
  color: colors.$light-dark;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 4rem 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 8rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin: 8rem 0 4rem 0;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__left-box {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1.25rem;
  }

  &__right-box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  &__list-box {
    background: colors.$light-blue;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  }

  &__list-title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: colors.$medic-blue;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  &__list-item {
    position: relative;
    padding-left: 1.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: colors.$light-dark;
  }
}
