@use "./../../shared/colors" as colors;



.anchor-link {
  transition: color 0.5s ease-in-out;
  color: black;
  font-family:Alkatra, sans-serif ;
  font-size: 1.25rem;
  text-decoration: none;

  &:hover {
    color: colors.$medic-blue; 
  }
}

.active {
  color: colors.$medic-blue;
}
